body {
    background-image: url("images/background.jpg");
    background-color: aqua;
}
.page {
    display: flex;
    justify-content: space-between;
}

.textbox {
    background-color: rgba(187, 202, 191, 0.5);
    font-size: 20px;
    width: 1200px
}

#mainTitle {
    font-family: 'karla', sans-serif;
    font-size: 80px;
    background-color: rgba(187, 202, 191,0.5);
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
    width: 1200px;

}
.outcome1 {
    background-image: url("images/button2Background.jpg");

    /* background-color: aqua; */
background-repeat: no-repeat;
    background-size: 160px;
    font-size: 30px;
    height:90px;
    padding-left:10px;
    padding-right:10px;
}

.outcome2{
    background-image: url("images/button3Background.jpg");
    background-repeat: no-repeat;
    background-size: 160px;
    font-size: 30px;
    height:90px;
    padding-left:10px;
    padding-right:10px;
}
.outcome3 {
    background-image: url("images/button1Background.jpg");
    background-repeat: no-repeat;
    background-size: 160px;
    font-size: 30px;
    height:90px;
    padding-left:10px;
    padding-right:10px;
}
.Assignment2 {
    background-image: url("images/button5Background.jpeg");
    background-repeat: no-repeat;
    background-size: 160px;
    font-size: 29px;
    height:90px;
    padding-left:10px;
    width:150px;
}
.aboutMe{background-image: url("images/button4Background.jpg");
    background-repeat: no-repeat;
    background-size: 160px;
    font-size: 30px;
    height:90px;
    width:160px

}

.middleText {
    padding-left: 15px
}

.buttons {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}